<div class="well-lg">
    <h1>Retaliation : {{retaliation.name}}</h1>

    <div class="">Room label : {{retaliation.room}}</div>

    <div>
        <h2>Developers :</h2>

        <!-- <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Bob</h3>
                <div ng-show="shot" class="">
                  Got him !
                </div>
                <div class="pull-right">
                  <button ng-click="shoot('573a665adef33e680bc46f2c')"  class="btn btn-danger btn-fab" type="button" name="button">
                    <i class="material-icons">grade</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
            </div>
            <div class="panel-body">
                <p>failures : 0</p>
                <p>pushs : 299</p>

                <h4>Position</h4>
                <p>X : 5</p>
                <p>Y : 8</p>
                <p>Z : 4</p>
            </div>
        </div> -->

        <div ng-repeat="u in retaliation.developers">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>{{u.name}}</h3>


                    <div class="pull-right">
                        <div ng-show="u.shot" class=""></div>
                        <a ng-click="shoot(u)" href="javascript:void(0)" class="btn btn-danger btn-fab" type="button"
                           name="button">
                            <i class="material-icons">flash_on</i>

                            <!--<div class="ripple-container"></div>-->
                        </a>
                    </div>
                </div>


                <div class="panel-body">
                    <p>failures : {{u.failures}}</p>

                    <p>pushs : {{u.pushs}}</p>

                    <h4>Positions</h4>

                    <p>X : {{u.pos_x}}</p>

                    <p>Y : {{u.pos_y}}</p>

                    <p>Z : {{u.pos_z}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
